@use 'abstracts' as *;

.toolbox{
    margin-bottom: 35px;
    @include lg{
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
    }
    &__buttons{
        display: flex;
    }
    &__button{
        flex: 1;
        padding: 8px;
        background: $color-white;
        font-size: 2.4rem;
        color: $color-gray-medium;
        border: 1px solid $color-gray-medium;
        + .toolbox__button{
            border-left: none;
        }
    }
}