@use 'abstracts' as *;

.footer{
    background: $color-black;
    color: $color-white;
    padding: 7px;
    text-align: center;
    margin-top: 40px;
    @include lg{
        margin-top: 35px;
    }
}